a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.team-list {
  list-style: none;
  padding: 0;
}

.team-logo-stats {
  height: 80px;
}

.team-logo {
  height: 20px;
}

.nhl-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%
}

nav {
  width: 15%;
  background-color: #000;
}

main {
  width: 90%;
  text-align: left;
  padding-left: 50px;
  padding-top: 30px;

}

/* Team Stats */

.stats {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 60%;
}

.stats .logo-container {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.stats .conference {
  grid-column: 2 / 3;
}

.stats .division {
  grid-column: 2 / 3;
}

.stats .venue {
  grid-column: 2 / 3;
}

.stats .team-stats {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.stats .roster {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.stats .roster .players-table {
  border-spacing: 0;
}

.stats .roster .players-table td {
  padding: 10px;
}

.stats .roster .players-table .player-row {
  padding: 15px;
}

.stats .roster .players-table .player-row:hover {
  color: #fff;
  background-color: rgb(49, 125, 175);
  cursor: pointer;
}

.stats .team-stats {
  display: flex;
  flex-wrap: nowrap;
}

.stats .team-stats .stat-title {
  grid-column: 1 / 2;
  height: 20px;
}

.stats .team-stats .stat-value {
  grid-column: 2 / 3;
  height: 20px;
}