html, body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.teams {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.team-selector {
  padding-top: 5px;
  width: 400px;
  position: relative;
  margin-top: auto;
}

.team-list {
  list-style: none;
  padding: 0;
}

.team-logo-stats {
  height: 80px;
  float: left;
}

.team-logo {
  height: 20px;
}

.nhl-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: column;
}

nav {
  height: 50px;
  width: 100%;
  background-color: rgb(212, 212, 212);
  color: #000;
  border-bottom: 3px solid #000;
  border-radius: 0 0 40px 40px;
  padding-left: 50px;
  box-sizing: border-box;
}

nav a {
  color: #000;
}

nav.extend {
  transform: translateX(0);
}

.menu-container {
  padding-top: 10px;
  padding-left: 100px;
  display: flex;
  align-content: center;
}

.menu-icon {
  visibility: hidden;
}

.team-list.show, .nav-title-link.show {
  visibility: visible;
}

nav .nav-title-link {
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

main {
  width: 90%;
  text-align: left;
  padding-left: 50px;
  padding-top: 30px;

}

/* Standings */



.standings-table {
  border-spacing: 0;
  padding-bottom: 50px;
  border-left: 1px solid #000;
  padding-left: 20px;
  width: 95%;
}

.standings-table thead {
  background-color: #000;
  color: #fff;
}

.standings-table th {
  padding: 20px 20px 20px 10px;
}

.standings-table td {
  border-bottom: 1px dashed #000;
  padding: 20px 40px 20px 10px;
}

.standings-table td:nth-child(even) {
  background-color: #ccc;
}
.standings-table td:nth-child(1) {
  font-weight: 800;
}

.standings-table:nth-child(4) tr:nth-child(2) td, .standings-table:nth-child(8) tr:nth-child(2) td {
  border-bottom: 5px solid #000;
}

.standings-table .diff-positive {
  color: #008000;
}

.standings-table .diff-negative {
  color: #ff0000;
}

/* Team Stats */

.stats {
  display: grid;
  grid-template-columns: 1fr 280px;
  width: 95%;
}

.logo-container {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.team-stats {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
  float: left;
  padding: 10px 5px 10px 5px;
  background-color: #000;
  color: #fff;
  font-weight: 800;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}

.players-table {
  border-spacing: 0;
  border: 1px solid #000;
}

.players-table thead {
  display: none;
}

.players-table a {
  color: #000;
  user-select: none;
}

.players-table th {
  padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.players-table td {
  padding: 10px;
  user-select: none;
}

.players-table tr {
  user-select: none;
}

.players-table .player-row {
  padding: 15px;
  background-color: #fff;
}

.players-table .player-row:hover {
  color: #fff;
  background-color: rgb(49, 125, 175);
  cursor: pointer;
}

.players-table .active {
  background-color: rgb(148, 38, 38);
  color: #fff;
}

.team-roster {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  margin-left: auto;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.player-info {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 80%;
  padding-left: 20px;
  padding-top: 20px;

}

.player-info .player-inner {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  border-left: 2px solid #000;
  padding: 15px;
  border-radius: 0 0 0 20px;
}

.player-info .player-inner .player-stats table {
  width: 100%;
  border-spacing: 0;
}

.player-info .player-inner .player-stats table tr:hover {
  background-color: rgb(216, 216, 216);
}

.player-info .player-inner .player-stats table td {
  border-bottom: 1px dotted #000;
  padding: 5px;
}

.player-info ul {
  padding: 0;
  list-style-type: none;
}

.player-info ul li {
  margin: 10px 0;
}

.stat-window {
  width: 294px;
}

.hide {
  display: show;
}

/* Adjust for small screens */

@media screen and (max-width: 1440px) {
  .player-inner {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .player-info .player-inner {
    grid-template-columns: auto;
  }

  main {
    margin: auto;
    padding-left: 0;
  }

  .logo-container {
    font-size: 0.8em;
  }

  .team-logo-stats {
    height: 60px;
  }

  .stats {
    grid-template-columns: 1fr 180px;
    width: 100%;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .player-info .player-inner {
    font-size: 0.8em;
  }

  .stat-window {
    font-size: 0.6em;
  }

  .players-table td {
    padding: 5px;
  }

  .menu-container {
    padding-left: 10px;
  }

  nav {
    border-radius: 0;
    padding-left: 5px;
  }

  .players-table thead {
    display: contents;
  }

  .vertical {
    display: none;
  }

  .players-table, .players-table th {
    border-radius: 20px 20px 0 0;
  }

  .standings .standings-inner {
    font-size: 0.6em;
  }

  .standings .standings-inner td {
    padding: 10px;
  }

  .stat-window {
    padding-left: 30px;
  }
}